# 忽略编译产生的文件和目录
build/
out/
*.o
*.obj
*.exe

# # 忽略 VSCode 配置文件（暂时保存）
# .vscode/

# 忽略依赖库的安装目录
node_modules/
vendor/

# 忽略临时文件和编辑器自动生成的文件
*.swp
*.swo
*.swn
*.swo
*.swn
*.bak
*~

# 忽略一些系统或编辑器生成的文件
.DS_Store
thumbs.db

# 忽略本地配置文件（例如个人配置文件、本地环境配置文件）
*.config.local